//COLORS:
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-black: #000;


$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// for projects section
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

//extra colors
$purple: #9796F0;
$purple-dark: #783F8E;
$pink: #FBC7D4;
$pink-hot: #E36588;



// for grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// font vars
$default-font-size: 1.8rem;
$features-font-size: 5rem;